In [16]:
import numpy as np

In [17]:
List1=[1,2,3,4]
List2=[7,5,4,6]
print(List1)
print(List2)
pic=[i+j for i,j in zip(List1,List2)]
print(pic)

[1, 2, 3, 4]
[7, 5, 4, 6]
[8, 7, 7, 10]

In [18]:
arr=np.arange(500)
arr
print(arr[0:7])

[0 1 2 3 4 5 6]

In [29]:
arr1=np.array([[[[[1,1,1,1],
    [1,1,1,1],
    [1,1,1,1],
    [1,1,1,1],
    [1,1,1,1]]]]])
arr1
arr1.ndim

5

In [37]:
arr2=np.array([['a','a','a','a',],
     ['a','a','a','a'],
     ['a','a','a','a'],
     ['a','a','a','a'],
     ['b','b','b','b']])
arr2

array([['a', 'a', 'a', 'a'],
       ['a', 'a', 'a', 'a'],
       ['a', 'a', 'a', 'a'],
       ['a', 'a', 'a', 'a'],
       ['b', 'b', 'b', 'b']], dtype='<U1')

In [60]:
import pandas as pd
Info={'Places':['Paris','London','NewYork','TajMahal'],'Country':['France','Europe','UnitedStates','India']}
df=pd.DataFrame(Info)
print(df)

     Places       Country
0     Paris        France
1    London        Europe
2   NewYork  UnitedStates
3  TajMahal         India

In [74]:
from urllib.request import urlretrieve

In [75]:
icurl = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'
urlretrieve(icurl, 'ass1.csv')

('ass1.csv', <http.client.HTTPMessage at 0x1b4cd912790>)

In [77]:
import pandas as pd
cdf=pd.read_csv('ass1.csv')
cdf

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [69]:
cdf.head(5)

         date  new_cases  new_deaths  new_tests
0  2019-12-31        0.0         0.0        NaN
1  2020-01-01        0.0         0.0        NaN
2  2020-01-02        0.0         0.0        NaN
3  2020-01-03        0.0         0.0        NaN
4  2020-01-04        0.0         0.0        NaN

In [70]:
cdf.tail(5)

           date  new_cases  new_deaths  new_tests
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

In [78]:
cdf.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [82]:
avg=cdf.new_cases.sum()
avg

271515.0

In [85]:
cdf.max

<bound method NDFrame._add_numeric_operations.<locals>.max of            date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]>

In [86]:
type(cdf)

pandas.core.frame.DataFrame